@import url('https://fonts.googleapis.com/css?family=Muli|Lato|Raleway&display=swap');

@import './variables';

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif, serif;
	color: $text-color;
	overflow-x: hidden;
}
