@import '../../../sass/variables';

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	background: #fbfbfb;
	& .main__container {
		width: 80vw;
		max-width: 1400px;
		box-shadow:0 1px 15px #eee;
		& section {
			border-top:1px solid #eee;
		}
	}
}

@media screen and (max-width: 1300px) {
	.main {
		& .main__container {
			width: 100%;
		}
	}
}
