.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	& .main__container {
		width: 1400px;
		max-width: 1400px;
		box-shadow: 0 10px 10px #eee;
	}
}
