@import '../../../sass/variables';

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	background: $background;
	& .main__container {
		width: 80vw;
		max-width: 1400px;
		& section {
			margin:.5rem 0;
		}
	}
}

@media screen and (max-width: 1300px) {
	.main {
		& .main__container {
			width: 100%;
		}
	}
}
