@import '../../../sass/variables';

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 6rem 0;
	background: linear-gradient(185deg, #fbfbfb 60%, $brand-main 60.3%);
	& .heading {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		& h2 {
			font-weight: 700;
			color: $alert;
		}
		& .divider {
			height: 3px;
			width: 20%;
			display: block;
			background: $brand-main;
		}
	}
	& .inner_grid {
		width: 60%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		& .col {
			background: #fff;
			border-radius: 3px;
			box-shadow: 0 1px 35px rgba(110, 110, 110, 0.239);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-width: 17rem;
			&__heading {
				background: $brand-main;
				padding: 1rem;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;
				display: flex;
				flex-direction: column;
				& h3 {
					color: #fff;
				}
				& .divider {
					height: 3px;
					width: 70%;
					display: block;
					background: $brand-accent;
				}
			}
			& .details {
				padding: 1rem;
				width: 100%;
				transition: all 0.3s ease;
				background: $brand-accent;
				box-shadow: 0 1px 20px rgba(65, 64, 64, 0.322);
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;

				& .icon {
					font-size: 2.5rem;
					color: $alert;
				}
				& p {
					margin-top: 0;
					color: #fff;
					padding: 0.5rem 0;
				}
				& a {
					display: flex;
					align-items: center;
					transition: all 0.3s ease;
					color: $alert;
					& svg {
						transition: all 0.3s ease;
					}
					&:hover {
						cursor: pointer;
						color: $brand-main;
					}
					&:hover svg {
						margin-left: 0.5rem;
						color: $brand-main;
					}
				}
			}

			& .button_container {
				padding: 1rem;
				border-top: 1px solid #eee;
				& button {
					background: $brand-main;
					color: #fff;
					border-radius: 3px;
					padding: 0.5rem 1rem;
					border: 0;
				}
			}
		}
	}
	& .col:last-child {
		&__heading {
			background: #eee;
		}
		& .details {
			background: #44cf6c;
			& .icon {
				color: #44cf6c;
				background: #fff;
				box-shadow: 0px 0px 0px 5px #fff;
				border-radius: 5px;
			}
		}
	}
}
