.panel {
	display: flex;
	flex-direction: column;
	width: 25rem;
	transform: translate(0, 0);
	position: fixed;
	top: 0;
	right: 0;
	transition: all 0.8s ease;
	background: #fff;
	box-shadow: 0 1px 60px #6666666e;
	min-height: 100vh;
	padding: 1rem;
	z-index: 99999;
}

.panel_hidden {
	display: flex;
	flex-direction: column;
	width: 30vw;
	transform: translate(50vw, 0);
	position: fixed;
	min-height: 100vh;
	top: 0;
	right: 0;
	transition: all 0.8s ease;
	background: #fff;
	box-shadow: 0 1px 60px #6666666e;
	padding: 1rem;
}
