@import '../../../sass/variables';

.header {
	position: relative;
	display: flex;
	overflow: hidden;
	width: 100%;
	padding: 1rem 0;
	min-height: 40vh;
	background: linear-gradient(75deg, $brand-main 60%, $brand-secondary 0%);
	& .svg_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;
	}
	& .grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		align-content: center;
		width: 100%;
		z-index: 1;
		& .copy {
			max-width: 32vw;
			& h1 {
				font-size: 2rem;
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 50%;
					height: 1.5px;
					background: $brand-secondary;
					position: absolute;
					bottom: 0;
				}
			}
			& p {
				line-height: 1.5;
				color: $brand-secondary;
				font-size: 1.5rem;
			}
		}
		& .video_container {
			display: flex;
			align-items: center;
		}
	}
}
