@import '../../../sass/variables';

.container {
	visibility: visible;
	display: grid;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	position: fixed;
	background-color: #eeeeee;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='928' height='464' viewBox='0 0 160 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.19'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
	min-height: 100vh;
	max-height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 99999;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	overflow-y: scroll;
	animation: fadein 0.5s linear forwards;

	& .background {
		position: absolute;
		height: 130%;
		width: 100%;
		display: flex;
		top: 0;
		left: 0;
		background: linear-gradient(170deg, transparent 50%, #0f4c75da 0%);
	}

	& .form_container {
		min-width: 40vw;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #fff;
		animation: popin 0.5s linear forwards;
		padding: 2rem 4rem;
		border-radius: 2px;
		box-shadow: 0 1px 45px darken(#0f4c753a, 1%);
		position: relative;
		& .close_button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			border-radius: 50%;
			color: #fff;
			background: lighten($brand-main, 2%);
			border: 0px solid transparent;
			position: absolute;
			transition: all 0.3s ease-in-out;
			z-index: 999;
			top: -1rem;
			right: -2rem;
			& svg {
				font-size: 1.5rem;
			}
			&:hover {
				cursor: pointer;
				box-shadow: 0 5px 5px darken(#0f4c7556, 2%);
				background: $brand-main;
			}
		}
		& .header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-bottom: 1px solid #eee;
			margin-bottom: 0.5rem;
			& .logo_container {
				display: flex;
				align-items: center;
				margin: 0;
				z-index: 9999;
				& img {
					max-width: 5rem;
				}
				& h2 {
					color: $brand-main;
					font-weight: 700;
					margin: 0;
				}
				& p {
					margin: 0;
				}
			}
		}
		& .icons {
			margin: 0 0 1rem 0;
			display: flex;
			align-items: center;
			z-index: 9999;
			& svg {
				font-size: 1.4rem;
				fill: $brand-main;
			}
			& img {
				max-width: 4rem;
			}
		}
		& .heading {
			display: flex;
			flex-direction: row;
			justify-content: center;
			border-radius: 5px;
			& .status {
				display: flex;
				flex-direction: column;
				width: 100%;
				z-index: 0;
				align-items: center;
				& h2 {
					color: $brand-main;
					position: relative;
					font-size: 1.2rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin: 0;
					width: 100%;
					text-align: center;
					padding: 0.5rem 0;
					transition: all 0.3s ease-in-out;
					border-radius: 5px;
				}
				& .error {
					background: rgba(246, 67, 67, 0.431);
					padding: 0.5rem;
					color: #fff;
				}
				& .success {
					background: rgba(54, 224, 20, 0.431);
					padding: 0.5rem;
					color: #fff;
				}
				& .loading {
					padding: 0.5rem;
					color: #fff;
					animation: loading 1s linear infinite;
				}
			}
		}
		& form {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto);
			gap: 2rem;
			& .input_row {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				padding: 0.5rem 0;
				width: 100%;
				& label {
					font-size: 1rem;
					color: $brand-main;
					margin: 0.5rem 0;
					font-weight: 700;
					&::after {
						content: '*';
						color: $alert;
						font-size: 1rem;
					}
				}
				& input {
					font-size: 16px;
					color: $brand-main;
					background: #eee;
					border: 2px solid #eee;
					border-radius: 3px;
					padding: 0.5rem 0;
					width: 100%;
					transition: all 0.3s ease;
					&::placeholder {
						color: #999;
					}
					&:hover {
						border: 2px solid $brand-main;
					}
					&:focus {
						outline: 2px solid $brand-main;
					}
				}
				& textarea {
					font-size: 16px;
					color: $brand-main;
					background: #eee;
					border: 2px solid #eee;
					padding: 0.5rem 0;
					min-height: 7rem;
					max-height: 10rem;
					width: 100%;
					border-radius: 3px;
					&::placeholder {
						color: #999;
					}
					&:hover {
						border: 2px solid $brand-main;
					}
					&:focus {
						outline: 2px solid $brand-main;
					}
				}
				& button {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 1rem 0;
					border-radius: 2px;
					width: 100%;
					border: 0px solid transparent;
					background: $brand-main;
					color: #fff;
					text-transform: uppercase;
					font-size: 1.2rem;
					letter-spacing: 1px;
					border-radius: 150px;
					box-shadow: 0 5px 25px #0f4c75b7;
					transition: all 0.3s ease-in-out;
					&:hover {
						cursor: pointer;
						background: lighten($brand-main, 5%);
						box-shadow: 0 5px 45px #0f4c75b7;
					}
				}
			}
			& .input_row:last-child {
				justify-content: center;
				grid-column-start: 2;
			}
		}
	}
}
.container_hidden {
	visibility: hidden;
	max-height: 0;
	opacity: 0;
}

@media screen and (max-width: 900px) {
	.container {
		overflow-y: scroll;
		display: grid;
		justify-items: center;
		max-height: 100vh;

		& .logo_container {
			display: flex;
			align-items: flex-start;
			margin: 1rem 0 0 0;
			z-index: 9999;
			& img {
				max-width: 3rem;
			}
			& h2 {
				color: $brand-main;
				font-weight: 700;
				margin: 0;
				font-size: 1.2rem;
			}
			& p {
				margin: 0;
				font-size: 0.9rem;
			}
		}
		& .background {
			position: absolute;
			height: auto;
			min-height: 150%;
			width: 100%;
			display: flex;
			top: 0;
			left: 0;
			background: linear-gradient(170deg, transparent 60%, $brand-main 0%);
		}
		& .form_container {
			padding: 3rem;
			max-width: 70vw;
			& .close_button {
				top: 1rem;
				right: 1rem;
			}
			& form {
				display: flex;
				flex-direction: column;
				& .input_row {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					padding: 0;
					margin: 0.5rem 0;
					width: 100%;
					& label {
						font-size: 0.8rem;
						margin: 0.2rem 0;
						font-weight: 700;
						&::after {
							content: '*';
							color: $alert;
							font-size: 1rem;
						}
					}
					& input {
						font-size: 16px;
						padding: 0.5rem 0;
					}
					& textarea {
						padding: 0.5rem 0;
						min-height: 5rem;
						max-height: 7rem;
					}
					& button {
						padding: 1rem 0;
						margin-bottom: 2rem;
						border-radius: 2px;
						width: 100%;
						color: #fff;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.container {
		& .form_container {
			max-width: 80vw;
			& form {
				& .input_row {
					& input,
					& textarea {
						&:focus {
							border-radius: 3px;
						}
					}
				}
			}
		}
	}
}

@keyframes popin {
	0% {
		transform: scale(0);
	}
	90% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes loading {
	0% {
		color: #fff;
	}
	100% {
		color: $alert;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
