@import '../../../sass/variables';

.section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background: $brand-main;
	padding: 2rem 0;
	& p {
		color: #fff;
		font-size: 1.2rem;
	}
	& button {
		width: 10rem;
		height: 3rem;
		background: $alert;
		border: 1px solid $alert;
		box-shadow: 0 1px 5px darken($alert, 10%);
		border-radius: 2px;
		color: #fff;
		text-transform: uppercase;
		transition: all 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			cursor: pointer;
			box-shadow: 0 1px 20px darken($alert, 10%);
		}
		& svg {
			font-size: 1.2rem;
			margin-right: 0.5rem;
		}
	}
}

@media screen and (max-width: 600px) {
	.section {
		padding: 2rem;
		& p {
			font-size: 1rem;
			text-align: center;
		}
		& button {
			border-radius: 150px;
			height: 2.5rem;
		}
	}
}
