@font-face {
  font-family: 'Wotfard';
  src: url("../fonts/wotfard.ttf");
}

.section {
  background: #eee;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section h2 {
  color: #1a3a6d;
  font-weight: 700;
  font-family: 'Wotfard';
}

.section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 2rem;
  justify-items: center;
}

.section .grid .item {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 15px #d5d5d5;
          box-shadow: 0 1px 15px #d5d5d5;
  padding: 1rem 0rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section .grid .item img {
  max-width: 14rem;
  height: 100%;
  max-height: 10rem;
  border-radius: 5px;
}

.section .grid .item svg {
  width: 100%;
  font-size: 9rem;
  color: #314ece;
}

.section .grid .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .grid .item .content p {
  font-weight: 900;
  font-family: 'Lato';
  text-align: end;
  font-size: 1.2rem;
  text-align: start;
  color: #333;
  text-align: center;
  padding: 0 1rem;
}

.section .grid .item .content button {
  background: #1a3a6d;
  border: 1px solid #1a3a6d;
  border-radius: 5px;
  color: #fff;
  height: 3rem;
  width: 15rem;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section .grid .item .content button:hover {
  background: #1f4582;
  border: 1px solid #1f4582;
  -webkit-box-shadow: 0 1px 5px #1a3a6d;
          box-shadow: 0 1px 5px #1a3a6d;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .section .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .section .grid .item {
    padding: 2rem;
    width: 35vw;
  }
}

@media screen and (max-width: 700px) {
  .section h2 {
    text-align: center;
  }
  .section .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section .grid .item {
    padding: 2rem;
    width: 80%;
  }
}
/*# sourceMappingURL=Materials.module.css.map */