@import '../../../sass/variables';

.nav {
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: center;
	align-items: center;
	height: 4rem;
	background: #fff;
	z-index: 99999;
	& .nav__inner {
		width: 1000px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
		& h2 {
			color: $brand-main;
		}
	}
}
