@import '../../../sass/variables';

@font-face {
	font-family: 'Wotfard';
	src: url('../fonts/wotfard.ttf');
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 4rem;
	padding: 1rem 0 0 0;
	background: #fff;
	box-shadow: 0 2px 2px #eee;
	z-index: 99999;
	width: 100%;
	& .nav__inner {
		height: 100%;
		& .tier:first-of-type {
			border-bottom: 1px solid darken(#fff, 5%);
		}
		& .mobile_nav {
			visibility: hidden;
			max-height: 0;
			display: none;
		}
		& .tier:first-child {
			padding: 0.5rem 0;
		}
		& .tier {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			& .left {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				& h2 {
					color: $brand-main;
					margin: 0;
					font-family: 'Wotfard';
					font-weight: 700;
				}
				& p {
					margin: 0;
					color: $text-color;
					font-family: 'Wotfard';
				}
				& img {
					max-width: 4rem;
				}
			}
			& .nav_contact {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding: 0.5rem 0;
				& a {
					color: $text-color;
					text-decoration: none;
					padding: 0 0.5rem;
					border-left: 1px solid darken(#fff, 5%);
					margin: 0 0.5rem;
					font-family: 'Muli';
					& svg {
						margin: 0 0.5rem;
						color: $brand-main;
						font-size: 1rem;
					}
				}
				& button {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					border-radius: 5px;
					padding: 0.5rem 1rem;
					margin: 0 0.5rem;
					color: #fff;
					border: 1px solid $brand-main;
					background: $brand-main;
					transition: all 0.3s ease;
					& svg {
						margin: 0 0.5rem;
						font-size: 1rem;
					}
					&:hover {
						border: 1px solid lighten($brand-main, 5%);
						background: lighten($brand-main, 5%);
						cursor: pointer;
					}
				}
				& .faq_container {
					min-height: 100vh;
					max-height: 100vh;
					visibility: visible;
					opacity: 1;
					width: 100vw;
					z-index: 999999;
					display: flex;
					flex-direction: column;
					align-items: center;
					position: fixed;
					padding: 1.5rem 0;
					top: 0;
					left: 0;
					background: #fff;
					transform: translateY(0);
					transition: all 0.5s ease;
					& .faq {
						max-width: 1000px;
						display: flex;
						flex-direction: column;
						overflow-y: scroll;
						& .heading {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							& h2 {
								color: $brand-main;
							}
							& img {
								max-width: 4rem;
							}
						}
						& ul {
							padding: 0;
							& li {
								box-shadow: 0 2px 2px #eee;
								list-style: none;
								padding: 0.5rem;
								& .question {
									font-size: 1.2rem;
									color: $brand-main;
									font-weight: 500;
								}
								& .answer {
									font-size: 1rem;
								}
							}
						}
					}
				}
				& .hidden {
					min-height: 100vh;
					width: 100vw;
					z-index: -1;
					visibility: hidden;
					opacity: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 0;
					left: 0;
					transform: translateY(-100vh);
					transition: all 0.5s ease;
					background: #fff;
					& .faq {
						max-width: 1000px;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						& .heading {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							& h2 {
								color: $brand-main;
							}
							& img {
								max-width: 4rem;
							}
						}
						& ul {
							padding: 0;
							& li {
								list-style: none;
								padding: 0.5rem;
							}
						}
					}
				}
			}
			& .grid {
				display: grid;
				grid-template-rows: 1fr;
				grid-template-columns: repeat(6, auto);
				list-style: none;
				padding: 0;
				background: $brand-main;
				min-height: 3rem;
				width: 100%;
				margin: 0;

				& li,
				& .list_link {
					height: 100%;
					width: 100%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					transition: all 0.3s ease;
					z-index: 1;
					& button {
						color: #fff;
						height: 100%;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 0;
						font-weight: 500;
						transition: all 0.3s ease-in-out;
						background: $brand-main;
						border-right: 1px solid lighten($brand-main, 2%);
						&:hover {
							background: lighten($brand-main, 5%);
							cursor: pointer;
						}
					}
					& .dropdown_container {
						width: 100%;
						display: flex;
						flex-direction: column;
						position: absolute;
						background: $brand-main;
						top: 100%;
						left: 0;
						visibility: hidden;
						opacity: 0;
						max-height: 0;
						z-index: 9;
						transition: all 0.3s ease;
						& button {
							display: flex;
							width: 100%;
							color: #fff;
							z-index: 10;
							transition: all 0.3s ease;
							font-weight: 500;
						}
					}
					&:hover {
						& .dropdown_container {
							visibility: visible;
							opacity: 1;
							max-height: 100vh;
							& button {
								padding: 1rem 0;
								width: 100%;
								&:hover {
									cursor: pointer;
									background: $brand-secondary;
								}
							}
						}
					}

					&:hover:after {
						content: '';
						width: 100%;
						bottom: 0;
						position: absolute;
						height: 3.5px;
						background: $brand-secondary;
						display: block;
					}
				}
				& .active {
					position: relative;
					& button {
						background: lighten($brand-main, 5%);
					}
					&::after {
						content: '';
						width: 100%;
						bottom: 0;
						position: absolute;
						height: 3.5px;
						background: $brand-secondary;
						display: block;
					}
				}
			}

			& .row {
				display: flex;
				flex-direction: row;
				width: 100%;
				flex-wrap: nowrap;
				min-height: 3rem;
				& .subject {
					width: 100%;
					padding: 0.5rem 0;
					display: flex;
					justify-content: center;
					transition: all 0.3s ease-in-out;
					position: relative;
					& button {
						width: 100%;
						background: transparent;
						border: 0px solid transparent;
						color: $brand-main;
						transition: all 0.3s ease-in-out;
						font-weight: 500;
					}
					&:hover {
						background: $brand-secondary;
						& button {
							color: $brand-main;
							cursor: pointer;
						}
						& .dropdown {
							visibility: visible;
							max-height: 20rem;
							cursor: pointer;
							& ul {
								& li {
									visibility: visible;
									opacity: 1;
									color: $brand-main;
									font-size: 0.8rem;
								}
							}
						}
					}

					& .dropdown {
						visibility: hidden;
						max-height: 0;
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						background: $brand-secondary;
						transition: all 0.3s ease-in-out;
						z-index: 999;
						& ul {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 100%;
							padding: 0;
							& li:not(:last-child) {
								border-bottom: 1px solid darken($brand-secondary, 3%);
							}
							& li {
								color: #fff;
								list-style: none;
								width: 100%;
								padding: 0.5rem 0;
								text-align: center;
								transition: all 0.2s ease;
								visibility: hidden;
								opacity: 0;
								font-size: 0.8rem;
								&:hover {
									background: $brand-main;
									color: #fff;
								}
							}
						}
					}
				}
				& .subject:not(:last-child) {
					border-right: 1px solid #eee;
				}
			}
			& .banner {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 100%;
				position: relative;
				overflow: hidden;
				max-width: 100%;
				padding: 1rem 2rem;
				background: linear-gradient(45deg, $alert 40%, transparent 70%);
				& .banner_container {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
					padding: 0 1rem;
					width: 100%;
					& h2 {
						margin: 0;
						font-size: 1rem;
						font-weight: 100;
						color: #fff;
					}
					& p {
						margin: 0.5rem 0;
						font-size: 0.9rem;
						font-weight: 700;
						color: $brand-accent;
						display: flex;
						align-items: center;
						& svg {
							fill: $brand-accent;
							width: 2rem;
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.nav {
		& .nav__inner {
			& .mobile_nav {
				display: flex;
				flex-direction: column;
				visibility: visible;
				width: 100%;
				background: $brand-main;
				padding: 0;
				max-height: 100vh;
				& .container {
					width: 100%;
					display: flex;
					flex-direction: column;
					& button {
						width: 100%;
						padding: 0.5rem;
						background: transparent;
						border: 1px solid transparent;
						border-bottom: 1px solid lighten($brand-main, 5%);
						color: #fff;
						font-size: 1.2rem;
						display: flex;
						align-items: center;
						& svg {
							font-size: 2rem;
						}
					}
					& .dropdown_mobile_hidden {
						max-height: 0vh;
						width: 100%;
						visibility: hidden;
						transition: all 0.5s ease-in-out;
						display: flex;
						& ul {
							width: 100%;
							visibility: hidden;
							transition: all 0.5s ease-in-out;
							display: flex;
							flex-direction: column;
							padding: 0;
							& li {
								width: 100%;
								list-style: none;
								visibility: hidden;
								max-height: 0;
								transition: all 0.5s ease-in-out;
								opacity: 0;
								& button {
									font-size: 1rem;
								}
							}
						}
					}
					& .dropdown_mobile {
						max-height: 100vh;
						visibility: visible;
						transition: all 1s ease-in-out;
						z-index: 9999;
						background: $brand-main;
						display: flex;
						& ul {
							display: flex;
							flex-direction: column;
							padding: 0;
							width: 100%;
							transition: all 1s ease-in-out;
							visibility: visible;
							& li {
								width: 100%;
								list-style: none;
								visibility: visible;
								max-height: 20vh;
								transition: all 1s ease-in-out;
								opacity: 1;
								& button {
									width: 100%;
									font-size: 1rem;
								}
							}
						}
					}
				}
			}
			& .tier {
				& .left {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					flex-wrap: nowrap;
					& h2 {
						font-size: 1.2rem;
					}
					& p {
						font-size: 1rem;
					}
				}
				& .nav_contact {
					display: flex;
					flex-direction: column;
					& a {
						visibility: hidden;
						max-width: 0;
						padding: 0;
						margin: 0;
						max-height: 0;
					}
					& button:not(:last-child) {
						margin: 0.2rem 0;
						width: 100%;
					}
					& .faq_container {
						padding: 0rem;
						width: 100vw;
						& .faq {
							max-width: 80vw;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							overflow-y: scroll;
							& .heading {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								& h2 {
									color: $brand-main;
									font-size: 1rem;
								}
								& img {
									max-width: 4rem;
								}
							}
							& ul {
								padding: 0;
								& li {
									box-shadow: 0 2px 2px #eee;
									list-style: none;
									padding: 0.5rem;
									& .question {
										font-size: 1rem;
										line-height: 1.5;
									}
									& .answer {
										font-size: 0.9rem;
										line-height: 1.5;
									}
								}
							}
						}
					}
				}
				& .grid {
					visibility: hidden;
					max-height: 0;
					display: none;
				}
				& .row {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
					grid-template-rows: auto;
					flex-wrap: wrap;
					& .subject {
						width: auto;
						flex: 2;
						& button {
							width: 100%;
						}
					}
				}
				& .banner {
					padding: 1rem 0.5rem;

					background: linear-gradient(45deg, $alert 100%, transparent 90%);
					& .banner_container {
						padding: 0;
						width: 100%;
						justify-content: center;
						& h2 {
							font-size: 0.9rem;
							font-weight: 100;
						}
						& p {
							color: $brand-secondary;
							font-weight: 100;
							font-size: 0.8rem;
							& svg {
								fill: $brand-secondary;
							}
						}
					}
				}
			}
		}
	}
}
