@import '../../../sass/variables';

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 4rem;
	padding: 1rem 0;
	background: #fff;
	box-shadow: 0 2px 2px #eee;
	z-index: 99999;
	width: 100%;
	& .nav__inner {
		height: 100%;
		& .tier:first-of-type {
			border-bottom: 1px solid darken(#fff, 5%);
		}
		& .tier {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			& .left {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				& h2 {
					color: $brand-main;
					margin: 0 0.5rem;
					font-family: 'Lato';
				}
				& p {
					margin: 0;
				}
			}
			& .nav_contact {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding: 0.5rem 0;
				& a {
					color: $text-color;
					text-decoration: none;
					padding: 0 0.5rem;
					border-left: 1px solid darken(#fff, 5%);
					margin: 0 0.5rem;
					& svg {
						margin: 0 0.5rem;
						color: $brand-main;
						font-size: 1vw;
					}
				}
				& button {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					border-radius: 5px;
					padding: 0.5rem 1rem;
					margin: 0 0.5rem;
					color: #fff;
					border: 1px solid $brand-main;
					background: $brand-main;
					transition: all 0.3s ease;
					& svg {
						margin: 0 0.5rem;
						font-size: 1vw;
					}
					&:hover {
						border: 1px solid lighten($brand-main, 5%);
						background: lighten($brand-main, 5%);
						cursor: pointer;
					}
				}
			}
			& .grid {
				display: grid;
				grid-template-rows: 1fr;
				grid-template-columns: repeat(4, auto);
				list-style: none;
				padding: 0;
				background: $brand-main;
				min-height: 3rem;
				width: 100%;
				margin: 0.5rem 0;
				& li:not(:last-child) {
					border-right: 1px solid lighten($brand-main, 5%);
				}
				& li {
					height: 100%;
					width: 100%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					transition: all 0.3s ease;
					& a {
						text-decoration: none;
						color: #fff;
						height: 100%;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: all 0.3s ease-in-out;
						border-radius: 5px;
						&:hover {
							background: lighten($brand-main, 5%);
						}
					}
					&:hover:after {
						content: '';
						width: 100%;
						bottom: 0;
						position: absolute;
						height: 5.5px;
						background: $brand-secondary;
						display: block;
					}
				}
				& .active {
					position: relative;
					& a {
						background: lighten($brand-main, 5%);
					}
					&::after {
						content: '';
						width: 100%;
						bottom: 0;
						position: absolute;
						height: 5.5px;
						background: $brand-secondary;
						display: block;
					}
				}
			}
			& .banner {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				position: relative;
				overflow: hidden;
				max-width: 100%;
				padding: 1rem;
				background: linear-gradient(45deg, $alert 30%, transparent 90%);
				& h2 {
					margin: 0;
					font-size: 1.5rem;
					font-weight: 700;
					color: #fff;
					font-family: 'Raleway';
				}
				& .social {
					height: 100%;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					gap: 0.5rem;
					& svg {
						color: $brand-main;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

@keyframes banneranim {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}
